

<!-- <form ngForm (submit)="assignmentForm.reset()" #assignmentForm>
    <mat-list *ngFor="let assignment of assignments">
        <h3 mat-subheader> {{assignment.dateDeRendu | date}}</h3>
        <mat-list-item>
            <mat-list-item (click)="assignmentClique(assignment)">
                <p appRendu *ngIf="assignment.rendu; else nonsoumis">
                    Devoir intitulé {{assignment.nom}}, rendu le {{assignment.dateDeRendu | date}}.
                </p>
                <ng-template #nonsoumis>
                    Le devoir {{assignment.nom}} n'a pas été rendu.
                </ng-template>
            </mat-list-item>
        </mat-list-item>
    </mat-list>
    <app-assignment-details [assignmentTransmis]="assignmentSelectionne"></app-assignment-details>
</form>
<app-add-assignment *ngIf="!formVisible"></app-add-assignment> -->