.form {
    display:flex;
    flex-direction: column;
    margin:5px;
 }
 
mat-sidenav-container{
    height: calc(205vh - 105vh);
    color : black
}

mat-sidenav{
    width: 350px;
    background-color: black;
}

.toolbar{
    color:white;
    background-color: black;
    /* border-bottom: ; */
}

.mat-drawer-inner-container{
    background-color: black;
}

.text-color{
    color:white;
}

ul{
    padding: 0;
    margin: 100px;
    list-style-type: none;
}

.button{
    background:#C59D5F;
    color:white;
}