<mat-toolbar class="toolbar">
    <mat-toolbar-row>
        <button mat-button>
            <mat-icon fontIcon="home" (click)="goHome()">
                <a routerLink="/home">
                </a>
            </mat-icon>
        </button>
        <button mat-button (click)="opened=!opened">
            <mat-icon fontIcon="menu">
            </mat-icon>
        </button>
        <h1>Site de rendu des devoirs</h1>
        <span class="fill"></span>
        <img class="img-alignment" src="assets/image/MIAGE_LOGO-SEUL_BLANC.png">
  <div *ngIf="this.isLogged()">
    <button mat-button (click)="logout()">
      <p> Étudiant N° :  {{this.getUtilisateur()}} </p>
      <mat-icon fontIcon="logout">
      </mat-icon>
    </button>
  </div>
      <div *ngIf="!this.isLogged()">
        <button mat-button (click)="connect()">
          <mat-icon fontIcon="lock_open">
          </mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav class="mat-drawer-inner-container" [(opened)]="opened" mode="push">
        <mat-list>
            <mat-list-item class="list-item">
                <button mat-button (click)="opened=!opened">
                <mat-icon fontIcon="calendar_today"  class="icon">
                </mat-icon>
                <a class="text-color" routerLink="/listedesdevoirs">
                    Liste des devoirs
                </a>
                </button>
            </mat-list-item>
            <mat-list-item class="list-item">
                <button mat-button (click)="opened=!opened">
                    <mat-icon fontIcon="assignment_returned" class="icon">
                    </mat-icon>
                    <a class="text-color" routerLink="/modif">
                        Modification d'un devoir
                    </a>
                </button>
            </mat-list-item>
            <mat-list-item class="list-item">
                <button mat-button (click)="opened=!opened">
                    <mat-icon fontIcon="delete_outline"  class="icon">
                    </mat-icon>
                    <a class="text-color" routerLink="/suppr">
                        Suppression d'un devoir
                    </a>
                </button>
            </mat-list-item>
            <mat-list-item class="list-item">
                <button mat-button (click)="opened=!opened">
                    <mat-icon fontIcon="autorenew"  class="icon">
                    </mat-icon>
                    <a class="text-color" routerLink="/generate">
                        Génération de données de test
                    </a>
                </button>
            </mat-list-item>
            <mat-list-item class="list-item">
                <button mat-button (click)="opened=!opened">
                    <mat-icon fontIcon="bookmark_border"  class="icon">
                    </mat-icon>
                    <a class="text-color" routerLink="/edition">
                        Edition d'un devoir
                    </a>
                </button>
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

