<div class="container">
    <h3>Contacter la scolarité</h3>
    <ul class="list-style-none">
        <li>
            <mat-icon fontIcon="call"></mat-icon>
            04.92.38.85.00
        </li>
        <li>
            <mat-icon fontIcon="mail_outline"></mat-icon>
            miage@unice.fr
        </li>
    </ul>
</div>
<div class="container">
    <h3>Contacter le référent MIAGE</h3>
    Monsieur Michel BUFFA
    <ul class="list-style-none">
        <li>
            <mat-icon fontIcon="call"></mat-icon>06.06.06.06.06
        </li>
        <li>
            <mat-icon fontIcon="mail_outline"></mat-icon>
            michel.buffa@unice.fr
        </li>
    </ul>
</div>
<div class="container">
    <h3>Pour plus de questions, veuillez remplir le formulaire de contact</h3>
    <div class="form-control">
        <input 
        class="input-block"
        type="text" 
        name="nom" 
        id = "nom" 
        placeholder="Nom">
    </div>
    <div class="form-control">
        <input 
        class="input-block"
        type="text" 
        name="prénom" 
        id = "prénom" 
        placeholder="Prénom">
    </div>
    <div class="form-control">
        <label>Cela concerne...</label>
        <mat-select>
          <mat-option value="one">Mon orientation en Master</mat-option>
          <mat-option value="two">L'accessibilité au site</mat-option>
          <mat-option value="three">Le programme en MIAGE</mat-option>
        </mat-select>
    </div>
    <label>Veuillez nous en dire plus</label>
    <textarea matInput></textarea>
</div>