<header>
    <app-menu></app-menu>
</header>
<footer class="bg-footer">
    <div class="align-center">
        <img class="img-alignment" src="assets/image/UCAlogoQhautBlanc.png">
    </div>
    <nav aria-label="footer" class="col-12 footer">
        <ul class="list-style-none d-flex flex-wrap col-12 flex-justify-center flex-lg-justify-between mb-2">
            <li class="mr-3"><a routerLink="/contacts" class="footertext">Contacts</a></li>
            <li class="mr-3"><a routerLink="/A propos" class="footertext">A propos</a></li>
            <li class="mr-3"><a routerLink="/plandusite" class="footertext">Plan du site</a></li>
        </ul>
    </nav>
</footer>