.d-flex {
    display: flex !important;
}

.flex-lg-justify-between {
    justify-content: space-between !important;
}

.flex-justify-center {
    justify-content: center !important;
}

ul {
    padding-left: 0;
    margin-top: 0;
}

.col-12 {
    width: 100%;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.footer{
    display: block;
    padding: 0.5rem !important;
    border-top: 1px solid #C59D5F;
}

.mb-2 {
    margin-bottom: 10px !important;
}

.mr-3 {
    margin-right: 20px !important;
}

.bg-footer{
    background-color: black;
}

.footertext{
    color:#C59D5F;
}