/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 100px;
    border: 1px solid black;
    padding: 30px;
    border-radius: 5px;
}

.btn{
    display: inline-block;
    background: #C59D5F;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-family: inherit;
}

.input-block{
    display: block;
    width: 100%;
}

.btn-block{
    display: block;
    width: 100%;
}

.clickableicon{
    cursor: pointer;
}

.fill{
    flex: 1 1 auto;
}

.align-center{
    text-align: center;
}

.img-alignment{
    width: auto;
    height: auto
}

.list-style-none {
    list-style: none !important;
}

.main-color{
    color: #C59D5F;
}

/* Utilisation des animations disponibles sur animate.css */
/* Utilisations d'animations disponibles sur les librairies javascript */


/* 3 types d'états en angular : void, default et custom  */
/* Zyppy fonctionne avec deux types d'états : collapse et expanded */

.stretch{
    animation-name: stretch;
    animation-duration: 1.5s;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a,a:hover{
	text-decoration:none;
}