.img-alignment{
    width: 100%;
    height: auto
}

:host {
    display: block;
    margin-top: 1rem;
}
  
.open-close-container {
    border-bottom: 1px solid burlywood;
    margin-top: 1em;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
